<h3>
  <%= @fern.name %>'s Fern
</h3>

<%= form_with url: "", method: :post, local: true do |f| %>
  <%= f.label :interaction %>
  <%= f.text_area :interaction, rows: 8 %>
  <%= f.submit 'Water Fern' %>
<% end %>