<div class="text-center">
  <div class='container'>
    <h2>
      <%= image_tag(@fern.image, size: 100) %>
      <%= @fern.name %>
    </h2>
  </div>

  <div class='container'>
    <div class='row'>
      <div class='col-sm-3'>
      </div>
      <div class='col-sm-3'>
        <%= button_to 'Water Fern', water_fern_path(@fern.id), method: :get, class: 'btn btn-lg btn-primary' %>
      </div>
      <div class='col-sm-3'>
        <%= button_to 'Compost Fern', fern_path(@fern.id), method: :delete, class: 'btn btn-lg btn-primary' %>
      </div>
    </div>
  </div>

  <div class='container'>
    <h4>Preferned Contact Method:</h4>
    <%= @fern.preferred_contact_method.capitalize %>
  </div>
</div>