<div class='container text-center'>
  <h2>Fertilize Your Fern!</h2>
  <% if @fern.health < 3 %>
    <h3>Oh no! Your relationship with <%= @fern.name %> is nearly a husk. It needs some real CPR!</h3>
  <% elsif @fern.health < 5 %>
    <h3>Yikes! Your relationship with <%= @fern.name %> isn't looking too healthy.</h3>
  <% elsif @fern.health < 7 %>
    <h3>Your relationship with <%= @fern.name %> isn't too bad, but it could use a little work!</h3>
  <% else %>
    <h3>Your relationship with <%= @fern.name %> is looking great, but it is always important to fertilize!</h3>
  <% end %>

  <%= link_to image_tag(@fern.image, class: 'fern-show-image', alt: 'fern health image', id: "fern-#{@fern.id}"), fern_path(@fern.id) %><br>

  <h3>Maybe you could... <%= @activity.activity %> together!</h3>
  <div class='spacer-2'>
  </div>
  <div class='row'>
    <div class='col-sm-2'>
    </div>
    <div class='col-sm-2'>
      <%= button_to "Sure!", fern_path(@fern.id), params: { activity: @activity.activity }, method: :patch, class: 'btn btn-lg btn-primary' %>
    </div>
    <div class='col-sm-4'>
      <%= button_to "Find Something Else", fertilize_fern_path(@fern.id), method: :get, class: 'btn btn-lg btn-primary' %>
    </div>
    <div class='col-sm-2'>
      <%= button_to "Maybe Not...", fern_path(@fern.id), method: :get, class: 'btn btn-lg btn-primary' %>
    </div>
    <div class='col-sm-2'>
    </div>
  </div>
</div>