<div class='text-center'>
  <h3>
    <%= current_user['name'] %>'s Greenhouse
  </h3>
  <%= button_to 'Plant a Fern', new_fern_path, method: :get %>
</div>
<% if @shelves %>
  <% @shelves.each do |shelf| %>
    <% unless shelf.ferns == [] %>
    <h4><%= shelf.name %> Shelf</h4>
      <div class="has-bg-img">
        <div id="<%= shelf.name.downcase %>" class="row">
          <% shelf.ferns.each do |fern| %>
            <div class="col-sm-4 text-center">
              <%= link_to image_tag(fern.image, size: 200, alt: 'fern health image', id: "fern-#{fern.id}"), fern_path(fern.id) %><br>
              <p><%= fern.name %></p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>