<div class='container text-center'>
  <h3>
    <%= current_user['name'] %>'s Greenhouse
  </h3>
  <div class="spacer-2"></div>
  <%= button_to 'Plant a Fern', new_fern_path, method: :get, class: 'btn btn-lg btn-primary' %>
  <div class="spacer-1"></div>
</div>
<div class='container'>
  <% if @shelves %>
    <% if @shelves.all? { |shelf| shelf.ferns.empty? } %>
      <%= render partial: '/partials/instructions' %>
    <% end %>
    <% @shelves.each do |shelf| %>
      <% unless shelf.ferns == [] %>
        <div class="shelf-sign text-center">
          <h4 class="shelf"><%= shelf.name %> Shelf</h4>
        </div>
        <div id="<%= shelf.name.downcase %>">
          <% if shelf.ferns.length > 3 %>
            <%= render partial: '/partials/multiple_shelves', locals: { shelf: shelf } %>
          <% else %>
            <%= render partial: '/partials/single_shelf', locals: { shelf: shelf } %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
