<div class='container pots'>
  <div class='col-sm-2 text-center'><%= image_tag("love-fern-1_720.png", height: '128') %></div>
  <div class='col-sm-2 text-center'><%= image_tag("love-fern-2_720.png", height: '128') %></div>
  <div class='col-sm-2 text-center'><%= image_tag("love-fern-3_720.png", height: '128') %></div>
  <div class='col-sm-2 text-center'><%= image_tag("love-fern-4_720.png", height: '128') %></div>
  <div class='col-sm-2 text-center'><%= image_tag("love-fern-5_720.png", height: '128') %></div>
</div>
<%= image_tag("hr-vine-thinner.png", class: "hr-vine" ) %><br>
  <h2>About</h2>
  <p>Love Fern is an application that allows users to cultivate the 
  relationships with important people in their lives by taking care of a fern.
  'Water your fern' by copying and pasting a message or conversation with that person, and Love Fern will automatically analyze the message and update the fern graphic to reflect its current status.'
  </p>
<%= image_tag("hr-vine-thinner.png", class: "hr-vine" ) %><br>
  <h2>Instructions</h2>
  <p>
  <h4>1. Sign in With Google</h4>
  When you first sign up, you will be prompted to create a fern. You will be able to name your fern, and choose a preferred contact method.</p>
  </p>
  <p>
  <h4>2. Water Your Fern</h4>
  When you've had a new interaction with your 'fern', you can update the health of your fern by clicking the "Water Fern" button.'
  Love Fern will analyze the sentiment of the message and update your fern accordingly.
  This will help you keep track of the current status of your relationship.
  </p>
<%= image_tag("hr-vine-thinner.png", class: "hr-vine" ) %><br>
<h2>Love Fern Team</h2>
<div class='container'>
  <div class="row">
    <div class='col-sm-4 text-center'>
      <%= image_tag("team-aongaro.png") %><br>
      <p class='about-names'>
        Anthony Ongaro
      </p>
      <p class='bio-links'>
        [ <a href='https://github.com/ajongaro'>GitHub</a> | <a href='https://www.linkedin.com/in/ajongaro/'>LinkedIn</a> ]
      </p>
    </div>
    <div class='col-sm-4 text-center'>
      <%= image_tag("team-atallent.png") %><br>
      <p class='about-names'>
        Anthony Blackwell Tallent
      </p>
      <p class='bio-links'>
        [ <a href='https://github.com/anthonytallent'>GitHub</a> | <a href='https://www.linkedin.com/in/anthony-blackwell-tallent-b36916255/'>LinkedIn</a> ]
      </p>
    </div>
    <div class='col-sm-4 text-center'>
      <%= image_tag("team-brohrig.png") %><br>
      <p class='about-names'>
        Brady Rohrig
      </p>
      <p class='bio-links'>
        [ <a href='https://github.com/BRohrig'>GitHub</a> | <a href='https://www.linkedin.com/in/brady-rohrig-5305a923/'>LinkedIn</a> ]
      </p>
    </div>
  </div>
  <p></p>
  <div class="row">
    <div class='col-sm-4 text-center'>
      <%= image_tag("team-dlayton.png") %><br>
      <p class='about-names'>
        Drew Layton
      </p>
      <p class='bio-links'>
        [ <a href='https://github.com/dlayton66'> GitHub</a> | <a href='https://www.linkedin.com/in/drew-layton-6009a4153/'>LinkedIn</a> ]
      </p>
    </div>
    <div class='col-sm-4 text-center'>
      <%= image_tag("team-jseymour.png") %><br>
      <p class='about-names'>
        J Seymour
      </p>
      <p class='bio-links'>
        [ <a href='https://github.com/JustJakeSeymour'>GitHub</a> | <a href='https://www.linkedin.com/in/j-seymour/'>LinkedIn</a> ]
      </p>
    </div>
    <div class='col-sm-4 text-center'>
      <%= image_tag("team-scox.png") %><br>
      <p class='about-names'>
        Samuel Cox
      </p>
      <p class='bio-links'>
        [ <a href='https://github.com/sambcox'>GitHub</a> | <a href='https://www.linkedin.com/in/samuel-bingham-cox/'>LinkedIn</a> ]
      </p>
    </div>
  </div>
</div>
<%= image_tag("hr-vine-thinner.png", class: "hr-vine" ) %><br>
<div class='container'>
  <h2>Goals</h2>

  <p>Love Fern was germinated to satisfy the requirements for a Turing Backend Mod 3
  group project, Consultancy. Official project requirements can be read 
  <a href='https://backend.turing.edu/module3/projects/consultancy/'>here</a>.<p>


  <h3>Learning Goals</h3>
  <ul>
    <li>Implement OAuth2 with OmniAuth to allow users to sign in with Google.</li>
    <li>Using Service Oriented Architecture</li>
    <li>Use of HTML, CSS, and JavaScript via Bootstrap to design a pleasing front-end aesthetic.</li>
    <li>Building a full-scale application from scratch using service-oriented architecture.</li>
  </ul>

  <h3>Future Goals</h3>
  <ul>
    <li>Implement "watering frequency," which indicates how often a user wishes to interact with their fern before it starts to decay.</li>
    <li>Add more detailed stats to the fern show page, including time since last contact and information about the nature of that contact.</li>
    <li>Add the ability to search for a fern by name and order ferns by health.</li>
    <li>Suggest multiple activities and gestures corresponding to varying levels of care needed for the fern.</li>
    <li>Build out the fern health algorithm to incorporate activities and gifts, as well as a more nuanced interpretation of Google's sentiment analysis.</li>
  </ul>

  <h3>Known Issues</h3>
  <ul>
    <li>The fertilize feature currently suggests a random activity to do with your fern's person. Please consider real life consequences are not our responsibility if you do ask your fern's person to do this activity.</li>
  </ul>
</div>