<!DOCTYPE html>
<html>
  <head>
    <title>LoveFernFe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="container" data-spy="scroll" data-target=".navbar" data-offset="50">
    <% if flash.any? %>
      <% flash.each do |key, value| -%>
        <% if key == 'error' %>
          <section class="alert alert-danger"><%= value.html_safe %></section>
        <% elsif key == 'notice' %>
          <section class="alert alert-warning"><%= value.html_safe %></section>
        <% elsif key == 'success' %>
          <section class="alert alert-success"><%= value.html_safe %></section>
        <% end %>
      <% end -%>
    <% end %>
    <div class='container'>
      <nav class='navbar navbar-default navbar-fixed-top'>
        <div class='container-fluid'>
          <div class='navbar-header'>
            <%= link_to image_tag('love-fern-logo_720.png', size: 30), root_path, class: 'navbar-brand' %>
          </div>
          <ul class='nav navbar-nav'>
            <% if current_user %>
              <li><%= link_to 'Greenhouse', greenhouse_path, class: 'nav-link' %></li>
            <% end %>
            <li><%= link_to 'About', about_path, class: 'nav-link' %></li>
            <% if current_user %>
              <li><%= link_to 'Log Out', session_path, method: :delete, class: 'nav-link' %></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </div>
    <div class='container text-center'>
      <h1>
        Love Fern
      </h1>
    </div>
    <%= yield %>
    <footer class='fixed-bottom'>
      <%= image_tag 'plants-footer.png' %>
    </footer>
  </body>
</html>
